@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

